@charset "utf-8";

body{
	background-color: grey;
}

h1{
	color: navy;
	font-size: 50px;

}

img{
	height: 400px;
	width: 500px;
}

#tekst1{
	color: navy;
}

#tekst2{
	text-align: center;
	color: navy;
}

table{
	border: 2px solid black;
}